<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg">
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item" th:classappend="${activePage == 'home'} ? 'active'">
                    <a class="nav-link" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item" th:classappend="${activePage == 'autoak'} ? 'active'">
                    <a class="nav-link" th:href="@{/autoak}">Autoak</a>
                </li>
                <li class="nav-item" th:classappend="${activePage == 'matxurak'} ? 'active'">
                    <a class="nav-link" th:href="@{/matxurak}">Matxurak</a>
                </li>
            </ul>
        </div>
    </nav>
</div>