<!DOCTYPE html>
<html xmlns:th="http://www.thhymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form th:object="${usuario}" th:action="@{/login/submit}" method="post">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required th:field="*{usuario}">
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required th:field="*{password}">
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
    </form>
</body>
</html>