<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matxurak</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>
    <nav th:replace="fragments/navbar :: navbar"></nav>

    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h1 class="averias-title mb-0">Matxura Guztiak</h1>
            <a href="/matxura/new" class="btn btn-custom">Matxura Berria +</a>
        </div>
        <div class="row">
            <div class="col-md-4 mb-4" th:each="matxura : ${matxurak}">
                <div class="card">
                    <div th:if="${matxura.fotoRuta}">
                        <img th:src="@{${matxura.fotoRuta}(v=${param.t})}" class="card-img-top" alt="Foto de la avería">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title" th:text="${matxura.auto.marka + ' ' + matxura.auto.modeloa}"></h5>
                        <p class="card-text" th:text="${matxura.deskribapena}"></p>
                        <div class="d-flex justify-content-between mt-2">
                            <a th:href="@{/matxura/{id}(id=${matxura.id})}" class="btn btn-custom">Xehetasunak</a>
                            <a th:href="@{/matxura/edit/{id}(id=${matxura.id})}" class="btn btn-warning">Editatu</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>